#firstStep{
    .banner{
        img{
            width: 100%;
        }
    }
    .select{
        margin-top: 15px;
        button{
            width: 60%;
            display: block;
            margin: 0 auto;
            font-size: 0.28rem;
            line-height: 0.5rem;
            height: 0.5rem;
            border: 0;
            background-color: #00f1fa;
        }
        .selected{
            width: 60%;
            display: block;
            margin: 0 auto;
            font-size: 0.28rem;
            line-height: 0.5rem;
            height: 0.5rem;
            border: 0;
            background-color: #066162;
            text-align: center;
            margin-top: 5px;
        }
    }
    
}
.stepTitle {
    position: relative;
    margin-top: 15px;
    margin-bottom: 9%;
    img {
        width: 97%;
    }
    p {
        position: absolute;
        width: 100%;
        text-align: center;
    }
    p:nth-child(1) {
        color: #00f1fa;
        font-size: 0.4rem;
        font-weight: bold;
        top: -15%;
    }
    p:nth-child(2) {
        color: white;
        font-size: 0.28rem;
        font-weight: bold;
        top: 55%;
    }
    p:nth-child(3) {
        color: white;
        font-size: 0.24rem;
        top: 115%;
    }
}
.next{
    margin-top: 6.8%;
    margin-bottom: 6.8%;
    button{
        width: 24%;
        display: block;
        margin: 0 auto;
        font-size: 0.28rem;
        line-height: 0.5rem;
        font-weight: bold;
        height: 0.5rem;
        border: 0;
        background: url(../img/next.png) no-repeat;
        background-size: 100% 100%;
    }
}
.upPhoto{
    >p{
        font-size: 0.24rem;
        color: #00f1fa;
        width: 100%;
        text-align: center;
        background: url(../img/photo.png) no-repeat center center;
        background-size: 80%;
    }
}
.secondStep{
    .upPhoto{
        .head{
            padding-top: 10px;
            width: 40.8%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
        .ptips{
            padding: 5px 0;
            font-size: 0.24rem;
            color: #797979;
            width: 100%;
            text-align: center;
        }
    }
    .message{
        ul>li{
            position: relative;
            width: 74%;
            display: block;
            margin: 0 auto;
            font-size: 0.28rem;
            line-height: 0.5rem;
            height: 0.5rem;  
            margin-bottom: 5px;    
            input{
                width: 100%;
                height: 100%;
                background: url(../img/mBkg.jpg) no-repeat;
                background-size: 100% 100%;
                border: 0;
                color: #00f1fa;
                font-size: 0.28rem;
                text-indent: 0.14rem;
            }
            input::-moz-placeholder{
                font-size: 0.28rem;
                color: #00f1fa;
                text-indent: 0.14rem;
            }
            input::-ms-input-placeholder{
                font-size: 0.28rem;
                color: #00f1fa;
                text-indent: 0.14rem;
            }
            input::-webkit-input-placeholder{
                font-size: 0.28rem;
                color: #00f1fa;
                text-indent: 0.14rem;
            }
            
            textarea{
                display: block;
                width: 96%;
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                min-height: 1.8rem;
                resize: none;
                border: 0; 
                font-size: 0.28rem;
                line-height: 0.36rem;
                margin-left: 3%;
                background-color: rgba(0,0,0,0);
                color: #797979;              
            }
            textarea::-moz-placeholder{
                color: #797979;
            }
            textarea::-ms-input-placeholder{
                color: #797979;
            }
            textarea::-webkit-input-placeholder{
                color: #797979;
            }
        }
        ul>li:nth-child(4){
           margin-top: 7px;
           min-height: 1.95rem;
           background: url(../img/text.jpg) no-repeat;
           background-size: cover;  
        }
    }
}
#secondStepTwo{
    .headTwo{
        padding-top: 10px;
        width: 47.73%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
}
.thridStep{
    .upload{
        ul li{
            margin-bottom: 10px;
        }
        .imgup{
            position: relative;
            width: 78%;
            margin: 0 auto;
            img{
                width: 100%;
            }
            input{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            .imgTips{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                display: -webkit-flex;
                -webkit-align-items: center;
                -webkit-justify-content: center;
                -webkit-flex-direction: column;
                p{
                    font-size: 0.24rem;
                    color: #00f1fa;
                }
            }
        }
        .imgupTwo{
            width:100%!important;
        }
        .explain{
            width: 78%;
            min-height: 1.95rem;
            background: url(../img/text.jpg) no-repeat;
            background-size: cover;
            font-size: 0.28rem;
            line-height: 0.5rem;
            height: 0.5rem; 
            margin: 0 auto;
            textarea {
                display: block;
                width: 96%;
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                min-height: 1.8rem;
                resize: none;
                border: 0;
                font-size: 0.28rem;
                line-height: 0.36rem;
                margin-left: 3%;
                background-color: rgba(0, 0, 0, 0);
                color: #797979;
            }
            
            textarea::-moz-placeholder {
                color: #797979;
            }
            
            textarea::-ms-input-placeholder {
                color: #797979;
            }
            
            textarea::-webkit-input-placeholder {
                color: #797979;
            }
        }
    }
}
//弹窗
.popWin{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .popBox{
        position: relative;
        width: 56%;
        img{
            width: 100%;
        }
        img:nth-child(2){
            position: absolute;
            width: 38%;
            top: -16%;
            left: 31%;
        }
        img:nth-child(3){
            position: absolute;
            width: 20%;
            bottom: -10%;
            left: 40%;
        }
        .popBoxin{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 0.24rem;
            line-height: 0.5rem;
            color: #00f1fa;
            text-align: center;
            p:nth-child(1){
                font-size: 0.32rem;
            }
            p:nth-child(2){
                font-size: 0.32rem;
            }
            p:nth-child(3){
                width: 80%;
                margin: 0 auto;
                margin-top: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid #00F1FA;
            }
        }
    }
}
#popWin3{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    img{
        width: 90%;
    }
}
#popWin4{
    
}
