.clearl{
    clear: left;
}
.clearr{
    clear: right;
}
.clearBoth{
    clear: both;
}
.floatl{
    float: left;
}
.floatr{
    float: right;
}
a,img{
    display: block;
}
//底部导航栏
#bottomNav{
    background-color: #000000;
    padding: 18px 0 14px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    .navBox{
        width: 20%;
        float: left;
        font-size: 0.24rem;
        text-align: center;
        a{
            color: white;   
        }          
    }
    .navBox img{
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .navBox:nth-child(1) img{
        width: 47.5%;
    }
    .navBox:nth-child(2) img{
        width: 48.5%;
    }
    .navBox:nth-child(3) img{
        width: 61.5%;
    }
    .navBox:nth-child(4) img{
        width: 37.5%;
    }
    .navBox:nth-child(5) img{
        width: 47.5%;
    }
}
body{
    background: url(../img/homeBkg.jpg) repeat-y;
    background-size: 100%;
}
#logo{
    img{
       width: 17.5%;
       margin: 0 auto;
    }
    img:nth-child(2){
        visibility: hidden;
    }
}
.stepTitle {
    position: relative;
    margin-top: 15px;
    margin-bottom: 9%;
    img {
        width: 97%;
    }
    p {
        position: absolute;
        width: 100%;
        text-align: center;
    }
    p:nth-child(1) {
        color: #00f1fa;
        font-size: 0.4rem;
        font-weight: bold;
        top: -15%;
    }
    p:nth-child(2) {
        color: white;
        font-size: 0.28rem;
        font-weight: bold;
        top: 55%;
    }
    p:nth-child(3) {
        color: white;
        font-size: 0.24rem;
        top: 115%;
    }
}