<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="诗尼曼年度十优评选盛典">
		<meta name="description" content="诗尼曼年度十优评选盛典">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
		<meta content="telephone=no" name="format-detection"/>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/order.css" />
		<script type="text/javascript" src="js/jquery-1.11.1.min.js" ></script>
		<link rel="stylesheet" href="../static/layui/css/layui.css">
		<script type="text/javascript" src="../static/layui/layui.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script type="text/javascript" src="js/order.js" ></script>
        <script type="text/javascript" src="https://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
		<title>诗尼曼年度十优评选盛典排行榜</title>
	</head>
	<body id="vueMain">
		<div id="order">
			<div class="stepTitle">
				<img src="img/jinBkg.png" />
			</div>
			<div class="classBox">
				<div class="classes">
					<a href="javascript:;" class="aActive rSelect indexS" v-on:click="seachs(1)">设计师</a>
					<a href="javascript:;" class="rSelect indexS" v-on:click="seachs(2)">店长</a>
					<a href="javascript:;" class="rSelect indexS" v-on:click="seachs(3)">顾问</a>
					<a href="javascript:;" class="rSelect indexS" v-on:click="seachs(4)">工程师</a>
					<img src="img/class.png" />
					<img src="img/sjx.png" id="sjx" style="width: 11px;" class="design tangle" />
				</div>
			</div>
			<div class="search">
				<div class="sl floatl">
					<input type="search" placeholder="请输入名字搜索" id="seachData"/>
				</div>
				<div class="sr floatl" v-on:click="seachOrder()">
					<input type="image" value="搜索查找" src="img/next.png" />
					<p>搜索查找</p>
				</div>
				<div class="clearl"></div>
			</div>
			<div id="searchResult">

                <template v-for="(key,item) in searchResult">
				<div class="message">
					<div class="ml floatl">
						<div class="headImg">
							<img src="{{imgLink + item.user_pics}}" />
						</div>
					</div>
					<div class="mr floatl">
						<ul>
							<li>
								<p>NO：{{item.id}}</p>
								<p>姓名：{{item.username}}</p>
								<p>店名：{{item.sell_name}}</p>
                                <p class="clicknum_{{item.id}}">票数：{{item.clicknum}}</p>
								<p>排名：{{item.rank}}</p>
							</li>
							<li>
								<div class="voteBtn">
									<div class="votel floatr" v-on:click="setNum(item.id,item.group_id)">
										<a href="javascript:;" class="yourVote">
											<p>投TA</p>
											<p>一票</p>
										</a>
									</div>
									<div class="clearl"></div>
								</div>
							</li>
						</ul>
					</div>
					<div class="clearl"></div>
					<div class="imgShow" v-if='key eq 0'>
                        <img src="img/no1.png" />
					</div>
                    <div class="imgShow" v-else-if='key eq 1'>
                        <img src="img/no2.png" />
                    </div>
					<div class="textShow" style="display: none;">
						<p>999</p>
					</div>
				</div>
                </template>
				<!--<div class="line line1" style="margin-bottom: 0.2rem;">-->
					<!--<p></p>-->
					<!--<p>这是世界的尽头</p>-->
				<!--</div>-->
			</div>
		</div>
		<!--底部导航-->
		<!--投票弹窗-->
		<div class="votePop" style="display: none;">
			<div class="vbox">
				<div class="vimg1">					
				</div>
				<div class="vimg2">
					<img src="img/w.png" />
				</div>
				<div class="vimg3"></div>
				<div class="vimg4"></div>
				<p>NO.20</p>
				<p>姓名：刘雨</p>
				<p>组别：设计师</p>
				<p class="tips">您还有3票！</p>
				<a href="###" class="confirm">确认</a>
			</div>
		</div>
		<!--弹窗2-->
		<div id="popWin2" class="popWin" style="display: none;">
			<div class="popBox">
				<img src="img/winBox.png" />
				<img src="img/cry.png" />
				<!--<img src="img/close.png" class="close" />-->
				<div class="popBoxin">
					<p>活动未开始！</p>
					<p>敬请期待！</p>
					<p></p>
					<p>2017年9月30日～12月27日</p>
				</div>
			</div>
		</div>
		<!--票数用完-->
		<div id="popWin4" class="popWindow" style="display: none;">
			<div class="popBox">
				<img src="img/winBox.png" />
				<img src="img/cry.png" />
				<img src="img/close.png" class="close" />
				<div class="popBoxin">
					<p>很抱歉！</p>
					<p>您的票数已用完！</p>
				</div>
			</div>
		</div>
		<!--投票成功-->
		<div id="voteSuccess" style="display: none;">
			<div class="successBkg">
				<img src="img/successBkg.png" />
				<a href="###" class="return">返回</a>
				<a href="###" class="help">帮TA拉票</a>
			</div>
		</div>
		<!--分享页面-->
		<div id="shareWin" style="display:none;">
			<img src="img/share.png" />
			<div class="sharText">
				<p>快分享到朋友圈</p>
				<p>告诉大家 谁才是你心目中的“十佳”</p>
				<p>呼朋唤友 为ta打call</p>
			</div>
		</div>
		<div id="popW" style="display: none;"></div>
		<div style="height: 1.5888rem;"></div>
		<div id="bottomNav">
			<ul>
				<li class="navBox">
					<a href="index.html" >
						<img src="img/homeh.png" />
						<p>首页</p>
					</a>
				</li>
				<li class="navBox" onclick="applys()">
					<a href="javascript:;">
						<img src="img/applyh.png" />
						<p>报名</p>
					</a>
				</li>
				<li class="navBox" v-on:click="searchNav()">
					<a href="javascript:;">
						<img src="img/orderv.png" />
						<p>排名</p>
					</a>
				</li>
				<li class="navBox">
					<a href="rule.html">
						<img src="img/ruleh.png" />
						<p>规则</p>
					</a>
				</li>
				<li class="navBox">
					<a href="won.html" >
						<img src="img/wonh.png" />
						<p>获奖</p>
					</a>
				</li>
			</ul>
			<div class="clearl"></div>
		</div>
	</body>
	<script type="text/javascript" src="js/public.js" ></script>
	<script src="js/vue-order.js?v=2"></script>
	<script>
		(function(doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function() {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 640) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);


	</script>
</html>
